:8000 {
	respond "Hello form Caddy"

	@authelia path /authelia /authelia/*
	handle @authelia {
		reverse_proxy :9091
	}

	@streams path /streams /streams/*
	handle @streams {
		reverse_proxy :8001
	}
}
