https://localhost {
	respond "Caddy Reverse Proxy"

	@authelia path /authelia /authelia/* /api/* /static/* /locales/*
	handle @authelia {
		reverse_proxy :9091
	}

	@streams path /streams /streams/*
	handle @streams {
		forward_auth :9091 {
			uri /api/verify?rd=https://localhost/authelia/
			copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		}
		reverse_proxy :8001
	}
}
