http://live.streaming.service.local {
	respond "Caddy Reverse Proxy"

	@authelia path /authelia /authelia/*
	handle @authelia {
		reverse_proxy :9091
	}

	@streams path /streams /streams/*
	handle @streams {
		forward_auth :9091 {
			uri /api/verify?rd=http://live.streaming.service.local/authelia/
			copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		}
		reverse_proxy :8001
	}
}
